TAGS
*.o
*.lo
*.la
*.gmo
*.libs
*.deps
Makefile.in*
Makefile
autom4te.cache
INSTALL
aclocal.m4
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
doc/gsql.1
gsql.desktop
install-sh
libgsql/libgsql.pc
libtool
ltmain.sh
missing
po/POTFILES
stamp-h1
mkinstalldirs
src/gsql
